// ==========================================================================
// SVG
// ==========================================================================

.svg_humb {
  fill: $white;
  fill: #fff;
  cursor: pointer;
}
.svg_cross {
  fill: $white;
  position: absolute;
  top: 10px;
  fill: #fff;
  right: 29px;
}
.svg_cross:hover {
  fill: #ffe566;
  cursor: pointer;
}

.outer-shape1 {
  transform:
    translateY(-3px);
    &:hover {
      transform:
        scale(1.1)
        translateY(-3px);
    }
}

.custom-icon {
  width: 53px;
  height: 53px;
}

.custom-icon:hover{
  transform:
    scale(1.1)
}

.outer-shape1,
.custom-icon {
  transition: .2s;
}
